body {
  background-color: #2e2e2e;
  color: white;
}

.hero {
  margin: 2.5em;
  border-radius: 30px;
}

h1 {
  font-size: 3.5em;
  margin-top: 3%;
  font-weight: bold;
}

#prediction {
  background-color: #d3d0cb;
  font-size: 2.5em;
  border-radius: 30px;
  padding: 5%;
}

#predict {
  font-size: 1.5em;
  padding: 0.5% 2%;
  width: 100%;
  margin-bottom: 3%;
  border-radius: 30px;
}

#predict:disabled {
  background-color: rgba(128, 128, 128, 0.055);
  border-color: rgba(128, 128, 128, 0.055);
  color: rgba(255, 255, 255, 0.25);
}

.jumbotron {
  background-color: #424b54;
}

#predictionImage {
  width: 13%;
  padding-bottom: 15;
  display: block;
}
